<%- include('parts/header')%>
    <h1><%=title%></h1>
    <table>
        <thead>
            <tr>
                <td>Username</td>
                <td>Token</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%=user.username%></td>
                <td><%=user.token%></td>
            </tr>
        </tbody>
    </table>
<%- include('parts/footer')%>